@model Mye_CommerceApp.Dtos.ProductFromDtos

@{
    Layout = "AdminLayout";
}

@if (Model.ErrorMessages != null && Model.ErrorMessages.Count > 0)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in Model.ErrorMessages)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}
<h1 class="mt-4">Add Product Page</h1>
<div class="container mt-4">
    <form method="post" action="/Product/AddProductComplete" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Product.Name">Product Name</label>
                    <input asp-for="Product.Name" class="form-control" placeholder="Enter product name" />
                </div>
                <div class="form-group">
                    <label asp-for="Product.Description">Product Description</label>
                    <textarea asp-for="Product.Description" class="form-control" rows="3" placeholder="Enter product description"></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.Price">Product Price</label>
                    <input asp-for="Product.Price" class="form-control" placeholder="Enter product price" />

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Product.PictureUrl">Product Picture URL</label>
                    <input asp-for="Product.PictureUrl" class="form-control" placeholder="Enter product picture URL" />

                </div>
                <div class="form-group">
                    <label asp-for="Product.ProductTypeId">Product Type</label>
                    <select asp-for="Product.ProductTypeId" asp-items="Model.ProductTypes.Select(type => new SelectListItem(type.Name, type.Id.ToString()))" class="form-control">
                        <option value="">Please select a Product Type</option>
                    </select>

                </div>

                <div class="form-group">
                    <label asp-for="Product.ProductBrandId">Product Brand</label>
                    <select asp-for="Product.ProductBrandId" asp-items="Model.ProductBrand.Select(brand => new SelectListItem(brand.Name, brand.Id.ToString()))" class="form-control">
                        <option value="">Please select a Product Brand</option>
                    </select>

                </div>

            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>
